<div class="container my-5">
    <h2>Results for <%= searchName %> </h2>

    <div class="row mt-5">
        <% for(let record of data) {%>
            <div class="col-4">
                <div class="card">
                    <img src="<%= record.thumb %>" class="card-img-top" alt="Game Poster">
                    <div class="card-body">
                      <h5 class="card-title"> <b> <%= record.external %> </b> </h5>
                      <p class="card-text"></p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> Game ID : <%= record.gameID %> </li>
                            <li class="list-group-item"> Cheapest Price Available : <%= record.cheapest %> </li>
                            <li class="list-group-item"> Available on SteamApp : <%= record.steamAppID? record.steamAppID: "No" %> </li>
                        </ul>
                        <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                  </div>
            </div>
          <% } %>
    </div>
</div>