<div class="container my-5">
  <h2 class="contentText textFont" style="font-size: 5em;" >Results for <%= searchName %>
  </h2>

  <div class="row mt-5">
    <% for(let record of data) {%>
      <div class="col-4">
        <div class="card mt-4">
          <img src="<%= record.thumb %>" class="card-img-top cardImg" alt="Game Poster">
          <div class="card-body">
            <h5 class="card-title"> <b>
                <%= record.external %>
              </b> </h5>
            <p class="card-text"></p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> Game ID : <%= record.gameID %>
              </li>
              <li class="list-group-item"> Cheapest Price Available : <%= record.cheapest %>
              </li>
              <li class="list-group-item"> Available on SteamApp : <%= record.steamAppID? record.steamAppID: "No" %>
              </li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
      <% } %>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-6">
        <div class="btnContainer">
          <button class="btn buttonStyle">
            <a href="/">Home</a>
          </button>
        </div>
      </div>

      <div class="col-6">
        <div class="btnContainer">
          <button class="btn buttonStyle">
            <a href="/search">Search</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  
</div>